@import '../../styles';

.login{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
 font-family: $font;
 color: $color;
    .container{
        padding:2rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        box-shadow: 24px 27px 16px -8px rgba(46,91,65,0.75);
        img{
            height: 150px;
        }
        form{
            display:flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            padding:0 2rem;
            input{
                width: 100%;
                margin: 10px 0;
                font-size: 1.2rem;
                border: none;
                outline: none;
                border-bottom: 1px solid gray;
                padding: 5px 10px;
                background: transparent;
                color: $color;
                ::placeholder{
                    font-family: $font;
                    color: $green;
                }
            }
            .form-btn{
                padding: 10px 50px;
                background-color: $color;
                margin: 1rem;
                width: 100%;
                outline: none;
                border: none;
                color: white;
                font-size: 1.3rem;
               
              
            }
        }
        button{
            padding: 10px 50px;
            margin: 1rem;
            width: 100%;
            outline: none;
            border: 2px solid $color;
            font-size: 1.3rem;
            cursor: pointer;
            background-color: transparent;
          color:$color;
          font-family: $font;
          border-radius: 7px;
          
        }
    }
    }