@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');
$background:#94AF9F;
$color:#24392d;
$background-light:#e4ebd4;
$background-dark:#99627A;
$green:#AEC2B6;
$font:'Poppins', sans-serif;
