@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');


$background:#94AF9F;
$color:#24392d;
$background-light:#eef3e3;
$background-dark:#99627A;
$green:#AEC2B6;
$font:'Poppins', sans-serif;
